[submodule "latex-base"]
	path = latex-base
	url = /Users/nicolasogier/Documents/workspace/Latex-template/latex-base
[submodule "word-tex"]
	path = word-tex
	url = /Users/nicolasogier/Documents/workspace/Latex-template/word-tex
[submodule "latexbook"]
	path = latexbook
	url = /Users/nicolasogier/Documents/workspace/Latex-template/latexbook
[submodule "Text-Workflows"]
	path = Text-Workflows
	url = /Users/nicolasogier/Documents/workspace/Latex-template/Text-Workflows
[submodule "latexHints"]
	path = latexHints
	url = /Users/nicolasogier/Documents/workspace/Latex-template/latexHints
[submodule "TwentySecondsCurriculumVitae-LaTex"]
	path = TwentySecondsCurriculumVitae-LaTex
	url = /Users/nicolasogier/Documents/workspace/Latex-template/TwentySecondsCurriculumVitae-LaTex
[submodule "master-thesis"]
	path = master-thesis
	url = /Users/nicolasogier/Documents/workspace/Latex-template/master-thesis
[submodule "2b-resume"]
	path = 2b-resume
	url = /Users/nicolasogier/Documents/workspace/Latex-template/2b-resume
[submodule "markdown-memo"]
	path = markdown-memo
	url = https://github.com/rreece/markdown-memo
[submodule "latexss"]
	path = latexss
	url = https://github.com/zhuangjindu/latexss.git
